* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 1;
}

html,
body {
    font-family: Roboto, Helvetica, sans-serif;
    color: #1c1c1c;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    height: 100%;
}

a:link {
    text-decoration: none;
}

ul {
    list-style: none;
}