*
{

    margin: 0;
    padding: 0;
}
body
{
    font-family:sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10
}
.navbar 
{
    background-image: linear-gradient(to right, rgb(62, 35, 82), rgb(9, 8, 8))
}


   
.navbar-nav li a
{
    padding: 0 10 px;
    font-weight: 100;
    color: #fff !important


}
.navbar-brand
{
    color: #fff !important
}
.navbar-brand 
{ height: 20px;
    width:  
    padding: max-content;
    font-style: bold;
    color: #fff !important

}
h2  {
    color: #fff !important
 }
 
h3 {
    color: #fff !important

}
h4 {
    color: #fff !important
}