* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

select,
input {
  margin-top: 5px;
  max-width: 100px;
  padding: 7px 8px;
}

button[type="submit"] {
  padding: 7px 8px;
  max-height: 30px;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user.wrapper {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px black;
  margin: 30px;
  border-radius: 5px;
  padding: 10px;
}

.user.wrapper > img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.user.wrapper > p {
  margin-top: 10px;
}

.user-content {
  padding: 5px;
}

.user-content > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-weight: 700;
  font-size: 14px;
}

.user-content > p > span {
  font-weight: 500;
  font-size: 12px;
  margin-top: 3px;
}
