@media only screen and (max-width: 1636px) {
    main {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 826px) {
    main {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 556px) {
    header nav > ul {
        display: none;
    }
    
    main {
        padding-top: 0;
        background-image: url(../img/background_mb.jpg);
    }

    #aboutme {
        padding-top: 50px;
    }

    input[type="submit"] {
        background-color: lightblue;
        transition: background-color 0.5s ease-in;
    }
    
    input[type="submit"]:hover {
        background-color: lightskyblue;
    }
}
