/* Global styles */
a{
    text-decoration: none;
    
}

ul {
    list-style: none;
}


/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EE6D6D;
    height: 60px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.nav-links {
    display: flex;
    margin-right: 10px;
    padding-right: 20px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
  }

  .nav-item:hover a {
    color: darkgreen;
  }

  .nav-logo {
      color: white;
      padding-left: 20px;
  }
  
/* Header section */

  #aboutme {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .big-heading {
      font-size: 4rem;
      color: #111;
  }

  .header-elements-centered {
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .container-resume {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33%
  }

  .background-container {
      display: flex;
  }

