* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #51d0da;
}

.container-fluid{
width: 500px;
margin: 50px auto;
padding: 15px;
border-radius: 10px;
}

.inputs {
  padding: 1rem 0 1rem 0;
  text-align: center;
  justify-content: center;
  background: rgb(233, 209, 209);
}

.inputs input[type="text"] {
  height: 2.5rem;
  width: 15rem;
  background: #b6abab;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  border: 2px solid #917777;
  border-radius: 8px;
  margin-right:5px ;
}

.inputs input[type="submit"] {
  height: 2.5rem;
  width: 5rem;
  background: #c9db22;
  font-weight: bold;
  color: rgb(8, 8, 8);
  font-size: 1rem;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.display {
  text-align: center;
  width: 500px;
  color: #bcd81d;
}

.wrapper {
  margin: 0 10rem;
  background-color: rgb(190, 173, 173);
  height: 50vh;
  margin: 50px auto;
  border-radius: 10px;
}

.wrapper h2{
  padding: 15px 0;
  text-align: center;
  background: #25b8cc;
  color: rgb(219, 199, 199);
  }
  
.wrapper p{
  margin:15px 50px;
  margin-right: 15px;
  text-align: left;
  color: #1e6ee6;
  font-size:15px;
}

.wrapper h2 span{
  font-size: 25px;
  color: #51b0be;
}
  .wrapper p span{
  color: #28c028;
  font-size: 25px;
}
