@media screen and (min-width: 600px) {
    .nav-bar {
        display: flex;
        flex-direction: column;   
        justify-content: space-between;
    }

    .container {
        padding-top: 10px;
    }
}