* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 20px auto;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

form > div {
  padding-bottom: 15px;
  position: relative;
}

form > div > input {
  width: 100%;
  padding: 10px 20px;
  display: block;
  margin-top: 5px;
  border-radius: 5px;
}

/* :valid pseudo class */
/* form > div > input:valid {
  border: 2px solid #10693d;
}

form > div > input:valid:focus {
  box-shadow: 0 0 8px #10693d;
} */

/* :invalid pseudo class */
/* form > div > input:invalid {
  border: 2px solid #f5223e;
}
form > div > input:invalid:focus {
  box-shadow: 0 0 8px #f5223e;
} */

input.valid {
  border: 2px solid #10693d;
}
input.valid:focus {
  box-shadow: 0 0 8px #10693d;
}

input.invalid {
  border: 2px solid #f5223e;
}
input.invalid:focus {
  box-shadow: 0 0 8px #f5223e;
}

p.error {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: #f5223e;
  font-size: 12px;
}
